

	<div class="header">
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href=#><%= image_tag("checkr.svg")%></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav">
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PRODUCT</a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          <a class="dropdown-item" href="#">Overview</a>
		          <a class="dropdown-item" href="#">Screenings</a>
		          <a class="dropdown-item" href="#">Compliance</a>
		          <a class="dropdown-item" href="#">Security</a>
		        </div>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          STAFFING
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          <a class="dropdown-item" href="#">Overview</a>
		        </div>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          INDUSTRIES
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          <a class="dropdown-item" href="#">Overview</a>
		          <a class="dropdown-item" href="#">Contact center</a>
		          <a class="dropdown-item" href="#">Retail &amp hospitality</a>
		          <a class="dropdown-item" href="#">Non-profit</a>
		          <a class="dropdown-item" href="#">Staffing</a>
		          <a class="dropdown-item" href="#">Manufacturing</a>
		          <a class="dropdown-item" href="#">Financial Services</a>
		          <a class="dropdown-item" href="#">Healthcare</a>
		          <a class="dropdown-item" href="#">On-Demand Economy</a>
		          <a class="dropdown-item" href="#">software &amp Technology</a>
		        </div>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          RESOURCES
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          <a class="dropdown-item" href="#">Overview</a>
		          <a class="dropdown-item" href="#">Guide &amp Withe Papers</a>
		          <a class="dropdown-item" href="#">FAQ</a>
		        </div>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">COMPLIANCE</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">       &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#";>LOG IN</a>
		      </li>
		      <li class="nav-item">
		        <button type="button" class="btn btn-outline-warning">GET STARTED -></button>
		      </li>
		    </ul>
		  </div>
		</nav>

	<div class="wrapper">
  
  <div class="box sidebar">
  	<h1>HIRE GREAT PEOPLE. FASTER.</h1>
	<p>Checkr provides modern and compliant background checks for global enterprises and startups.
		<br>
		<br>
		<button type="button" class="btn btn-warning"> EXPLORE NOW -></button>

	</p></div>
  <div class="box content">
	<%= video_tag "Checkr_Hero.mp4", autoplay: true %>
     
    </div>
    </div>

  
</div>
<div class="background-check">
	<h3>More Than 10,000 Businesses Trust Checkr for Their Background Screenings</h3>
	<div class="panel">
		<img src="https://checkr.com/wp-content/uploads/2016/02/Uber_white_2@2x.jpeg" alt="logo">
		<img src="https://checkr.com/wp-content/uploads/2015/10/instacart-logo@2x.png" alt="logo">
		<img src="https://checkr.com/wp-content/uploads/2018/02/Grubhub-logo.png" alt="logo">
		<img src="https://checkr.com/wp-content/uploads/2015/10/postmates_logo_s-1.png" alt="logo">
		<img src="https://checkr.com/wp-content/uploads/2015/10/zenefits.gif" alt="logo">
		<img src="https://checkr.com/wp-content/uploads/2018/02/lyft_high_res.png" alt="logo">
	</div>
</div>

</div>
<div class=picto>
	<br>
<h2>The Next Generation of Background Checks</h2>
<div class="wrapper2">
	
  <div class="box2 a">
  	
	  	<h2><%= image_tag("phone.png")%><br>
	  	Mobile-Friendly</h2>
	
	<p>Create a positive applicant experience with simple, mobile-friendly onboarding.</p>
	</div>
	
  <div class="box2 b">
  	<h2><%= image_tag("ecran.png")%><br>
  	Easy to Understand</h2>
	
	<p>Color-coded reports and an intuitive interface makes it possible to review information faster. See a sample employee background report.</p></div>
  <div class="box2 c">
	
  	<h2><%= image_tag("rouage.png")%><br>
  	Convenient Automation</h2>
	
	<p>Reports and violations are categorized to help you remain compliant with individual assessment requirements.</p></div>
  <div class="box2 d">
  	
  	<h2><%= image_tag("bulles.png")%><br>
  	Simplified and Compliant Communication</h2>

	<p>Automated compliance tools allow you to send adverse action communications in seconds, directly from your dashboard.</p></div>
  <div class="box2 e">

  	<h2><%= image_tag("barres.png")%><br>
  	Fast and Accurate</h2>

	<p>Understand the profile of your applicants and find the best pool of candidates using integrated analytics and reports.</p></div>
  
</div>
</div>

<div class="box footer">Customer Agreement | Privacy Policy | Terms of Service | © 2018 Checkr, Inc.</div>
</div>


